PyYAML==3.11
beautifulsoup4==4.4.1
click==5.1
clickclick==0.15 # Updated from 0.12
feedparser==5.2.1
flake8==2.5.0 # Updated from 2.4.1
mccabe==0.3.1
pbr==1.8.1 # Updated from 1.7.0
pep8==1.6.2 # Updated from 1.5.7
piprot==0.9.4
py==1.4.30
pyflake==0.1.9
pyflakes==1.0.0 # Updated from 0.9.2
pytest==2.8.2 # Updated from 2.7.2
-e git+https://github.com/vmware/pyvmomi.git#egg=pyvmomi
requests==2.8.1
requests-futures==0.9.5
six==1.10.0 # Updated from 1.9.0
# Generated with piprot 0.9.4
# Your requirements are 947 days out of date
